@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: "Noto Sans", sans-serif;
}
body {
  height: 100000px;
}
header {
  width: 100%;
}
.nav1 {
  width: 95%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2px solid black;
}
.nav1 ul {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.nav1 ul li {
  padding: 15px 10px;
}
.nav1 ul li a {
  font-size: 1rem;
}
.nav2 {
  width: 100%;
  background-color: aliceblue;
}
.nav2 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  width: 70%;
}
.nav2 ul li {
  padding: 15px 10px;
}
.nav2 ul li a {
  font-size: 1.2rem;
}
.nav2 ul li input {
  width: 350px;
  padding: 10px;
  border-radius: 40px;
  outline: none;
  border: 0.5px solid rgba(0, 0, 0, 0.432);
  background-color: aliceblue;
}
main {
  width: 100%;
}

.bg_img {
  background-image: url(https://hr-portal.ru/files/mini/shutterstock_120539965.jpg);
  height: 85vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 95%;
  margin: 0 auto;
}

.cont {
  display: flex;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.inner_text {
  background-color: rgba(80, 66, 66, 0.336);
  height: 450px;
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.inner_text h1 {
  color: white;
  font-size: 3.5rem;

  margin: 15px;
  padding: 15px;
}

.inner_text p {
  font-size: 2rem;
  color: white;
  margin: 15px;
  padding: 15px;
}
.container {
  width: 100%;
}

.sect {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-around;
  padding: 150px 0;
}
.sect article {
  width: 450px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 50px 0;
}
.sect article p {
  font-size: 1.5rem;
  color: black;
  line-height: 1.8;
}

.chart {
  width: 100%;
}

.bg_chart {
  width: 90%;
  background-image: url(https://miro.medium.com/max/1400/0*hIshSsDrWrLhaFiG.png);
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0 auto;
}

.bg_chart > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 100%;
  margin: -50px auto 0 auto;
}
.bg_chart ul li {
  padding: 20px;
}

.bg_chart ul li a {
  color: white;
  padding: 10px 0;
  border-bottom: 1px solid white;
}
